<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>background gradient hero section</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="h-svh bg-[url('./assets/sale_17431_article_image.webp')] bg-no-repeat bg-center bg-cover flex justify-center items-center flex-col  text-white img-gradient2 text-center p-8">
        <p class=" text-3xl md:text-6xl font-bold z-40">Welcome to Our Awesome Website</p>
        <p class="text-base md:text-xl font-light my-8 z-40">Discover amazing features and services that awaits you.</p>
        <button class="z-40 px-8 py-2 bg-yellow-400 text-black font-semibold text-base hover:bg-yellow-500 hover:scale-110 duration-500 focus:scale-90 rounded-3xl">Get Started</button>
    </main>
</body>
</html>