<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive-user-avatars-grid</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <main class="h-svh bg-slate-200 flex justify-center items-center">
        <div>
        <p class="text-xl font-semibold mb-3">Trusted by</p>
        <div class="flex items-center">
            <div class="user-avatars flex ">
                <img src="./assets/profile1.jpg" alt="random image">
                <img class="right-4" src="./assets/profile2.jpg" alt="random image">
                <img class="right-8" src="./assets/profile3.jpg" alt="random image">
                <img class="right-12" src="./assets/profile4.jpg" alt="random image">
                <img class="right-16" src="./assets/profile5.jpg" alt="random image">
                <img class="right-20" src="./assets/profile6.jpg" alt="random image">
            </div>
            <div>
                <p class="relative right-16 text-xl font-normal">Join with 5,000+ other members </p>
            </div>
        </div>
        <div>

    </main>
   
</body>

</html>