<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cards</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="h-24 flex justify-center md:justify-between items-center px-[4vw] max-w-[1440px] m-auto mb-24 md:mb-2 ">
        <p class="text-xl font-normal tracking-widest">Acme.inc</p>
        <ul class=" gap-[2.5vw] hidden md:flex">
            <li ><a href="#" class="text-base font-normal tracking-wider hover:text-blue-600">About Us</a></li>
            <li ><a href="#" class="text-base font-normal tracking-wider hover:text-blue-600">Tretments</a></li>
            <li ><a href="#" class="text-base font-normal tracking-wider hover:text-blue-600">Blog</a></li>
            <li ><a href="#" class="text-base font-normal tracking-wider hover:text-blue-600">Contact Us</a></li>
        </ul>
    </header>

    <main class="card-main-height bg-slate-900">

    </main>
</body>
</html>



<!-- text  -->



<!-- Everything you need
All-in-one platform
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
Invite team members
Rerum repellat labore necessitatibus reprehenderit molestiae praesentium.
Keyboard shortcuts
In sit qui aliquid deleniti et. Ad nobis sunt omnis. Quo sapiente dicta laboriosam.
List view
Corporis asperiores ea nulla temporibus asperiores non tempore assumenda aut.
Calendars
Sed rerum sunt dignissimos ullam. Iusto iure occaecati voluptate eligendi fugiat sequi.
Notifications
Quos inventore harum enim nesciunt. Aut repellat rerum omnis adipisci.
Boards
Quae sit sunt excepturi fugit veniam voluptatem ipsum commodi.
✓ Reporting
Eos laudantium repellat sed architecto earum unde incidunt. Illum sit dolores voluptatem.
Mobile app
Nulla est saepe accusamus nostrum est est. Fugit voluptatum omnis quidem voluptatem. -->