<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Call-to-action-section</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div
      class="main h-svh bg-slate-100 flex justify-center items-center flex-col text-center"
    >
      <div class="image_section flex mb-4">
        <img
          class="Call-to-action-section-images h-14 w-14 md:h-20 md:w-20 left-12 animate-bounce"
          src="./assets/first-profile-image.png"
          alt="random profile photo"
        />
        <img
          class="Call-to-action-section-images h-16 w-16 md:h-24 md:w-24 left-6 animate-bounce"
          src="./assets/second-profile-image.png"
          alt="random profile photo"
        />
        <img
          class="Call-to-action-section-images h-20 w-20 md:h-28 md:w-28 z-20 animate-bounce"
          src="./assets/third-profile-image.png"
          alt="random profile photo"
        />
        <img
          class="Call-to-action-section-images h-16 w-16 md:h-24 md:w-24 right-6 z-10 animate-bounce" 
          src="./assets/forth-profile-image.png"
          alt="random profile photo"
        />
        <img
          class="Call-to-action-section-images h-14 w-14 md:h-20 md:w-20 right-12 z-0 animate-bounce"
          src="./assets/fifth-profile-image.png"
          alt="random profile photo"
        />
      </div>
      <p class="text-6xl font-bold mb-4">Get started now</p>
      <p class="text-2xl max-w-[600px]">
        Be part of millions of people around the world using tailus in modern
        User interfaces
      </p>
      <div class="flex mt-6 gap-10 flex-col md:flex-row">
        <button class="py-2 px-8 text-xl rounded-3xl bg-[#14B8A6] tracking-wide text-white font-semibold hover:bg-blue-600">Get started</button>
        <button class="py-2 px-8 text-xl rounded-3xl bg-[#D7F2F4] tracking-wide text-[#14B8A6] font-semibold hover:bg-blue-600 hover:text-white">More about</button>
      </div>
    </div>
  </body>
</html>
