<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing-page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="grid md:grid-cols-[60%_40%] text-center md:text-left gap-8 bg-blue-600  m-auto py-12 px-8 md:px-[15%]  items-center">
        <div class="text-white">
            <p class=" font-bold text-2xl md:text-4xl my-6">Discover the world's best coffee</p>
            <p class="text-xl font-normal mb-3">From hand-picked farms to your cup, we source the finest beans and roast them to perfection.</p>
            <button class="py-2 px-4 bg-white text-blue-700 rounded-3xl font-bold hover:bg-slate-800 hover:text-white duration-700">Shop now</button>
        </div>
        <div class="overflow-hidden rounded-lg">
            <img class="h-full w-full" src="./assets/coffee-image.jpg" alt="coffee image">
        </div>
    </div>
    <div class="px-8 md:px-[15%] py-12">
        <p class="text-2xl font-bold py-8 text-center md:text-left">Featured Products</p>
        <div class="grid  md:grid-cols-3 gap-8 md:grid-rows-2">
            <div class="card-two shadow-xl grid grid-row-2 h-[450px] rounded-b-lg">
                <div class="overflow-hidden  rounded-t-lg" >
                    <img class="h-full w-full" src="./assets/coffee-image.jpg" alt="random image">
                </div>
                <div class="p-5">
                    <p class="font-bold text-base">Single Origin Blend</p>
                    <p class="font-normal text-sm my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum necessitatibus consequuntur ipsa dicta mollitia cum! </p>
                    <div class="flex justify-between items-center">
                        <p class="text-sm font-semibold">$14.99</p>
                        <button class="py-2 px-4 bg-blue-700 text-sm text-white rounded-3xl font-bold hover:bg-slate-800  hover:text-white duration-700">Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="card-two shadow-xl grid grid-row-2 h-[450px] rounded-b-lg">
                <div class="overflow-hidden  rounded-t-lg" >
                    <img class="h-full w-full" src="./assets/coffee-image.jpg" alt="random image">
                </div>
                <div class="p-5">
                    <p class="font-bold text-base">Single Origin Blend</p>
                    <p class="font-normal text-sm my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum necessitatibus consequuntur ipsa dicta mollitia cum! </p>
                    <div class="flex justify-between items-center">
                        <p class="text-sm font-semibold">$14.99</p>
                        <button class="py-2 px-4 bg-blue-700 text-sm text-white rounded-3xl font-bold hover:bg-slate-800  hover:text-white duration-700">Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="card-two shadow-xl grid grid-row-2 h-[450px] rounded-b-lg">
                <div class="overflow-hidden  rounded-t-lg" >
                    <img class="h-full w-full" src="./assets/coffee-image.jpg" alt="random image">
                </div>
                <div class="p-5">
                    <p class="font-bold text-base">Single Origin Blend</p>
                    <p class="font-normal text-sm my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum necessitatibus consequuntur ipsa dicta mollitia cum! </p>
                    <div class="flex justify-between items-center">
                        <p class="text-sm font-semibold">$14.99</p>
                        <button class="py-2 px-4 bg-blue-700 text-sm text-white rounded-3xl font-bold hover:bg-slate-800  hover:text-white duration-700">Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="card-two shadow-xl grid grid-row-2 h-[450px] rounded-b-lg">
                <div class="overflow-hidden  rounded-t-lg" >
                    <img class="h-full w-full" src="./assets/coffee-image.jpg" alt="random image">
                </div>
                <div class="p-5">
                    <p class="font-bold text-base">Single Origin Blend</p>
                    <p class="font-normal text-sm my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum necessitatibus consequuntur ipsa dicta mollitia cum! </p>
                    <div class="flex justify-between items-center">
                        <p class="text-sm font-semibold">$14.99</p>
                        <button class="py-2 px-4 bg-blue-700 text-sm text-white rounded-3xl font-bold hover:bg-slate-800  hover:text-white duration-700">Add to cart</button>
                    </div>
                </div>
            </div>
           
</body>
</html>