@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("menu.css");

@layer utilities{

  ::-webkit-scrollbar{
    width: 0px;
  }

.button-container{
    transition: all 0.6s ease-in-out;
    @apply before:content-['']  before:right-0 before:w-0 before:bg-[#FFB400] before:absolute before:h-[200%];
  }

  .button-container:before{
    transition: all 0.7s ease-in-out;
    }
  .button-container:hover:before{
     width: 200%;
    }

    
    .nav-button{
        @apply text-xl p-4 bg-[#0000001d] dark:bg-[#ffffff25] rounded-full w-fit hover:bg-[#FFB400] hover:text-white text-[#666666] dark:text-white; 
    }

  .hero-navbar-button{
    @apply flex gap-5 items-center w-full justify-end rounded-full  cursor-pointer duration-500;
  }
  .nav-bar-description{
    @apply text-base absolute translate-x-[300px] tracking-widest text-white flex pl-5 items-center font-semibold h-full w-full rounded-full duration-700 bg-[#FFB400];
  }

  
  
  @media (max-width:1024px) {
    .cursor-hover{
      transform: scale(6);
    }
  }
  .link{
    user-select: none;  
    cursor: pointer;
  }

  .cursor-ball {
    width: 10px;
    height: 10px;
    background-color: #FFB400;
  }
  
  .cursor-outline {
    width: 2.5rem;
    height: 2.5rem;
    border: 1.5px solid #FFB400;
    transition: all 0.08s linear;
  }
  .cursor-ball,
.cursor-outline {
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  pointer-events: none;
  transform: translate(-50%, -50%)
}

.cursor-mousedown {
  width: 1.5rem;
  height: 1.5rem;
  background-color: royalblue;
  transition: 0.2s;
}

.cursor-hover{
  transition: 0.4s;
  transform: scale(8.5);
  opacity: 0.2;
}


.page-trans1{
  animation:page-trans 2.3s ease-in-out 0s;
}
@keyframes page-trans {
  0%{
    top:0;
    bottom: 0;
  }
  100%{
    top: -300svh;
  }
}

.page-trans2{
  animation:page-trans 2.3s ease-in-out 0s;
}
@keyframes page-trans {
  0%{
    top:0;
    bottom: 0;
  }
  100%{
    top: -400svh;
  }
}
.page-trans3{
  animation:page-trans 2.3s ease-in-out 0s;
}
@keyframes page-trans {
  0%{
    top:0;
    bottom: 0;
  }
  100%{
    top: -500svh;
  }
}
.page-trans4{
  animation:page-trans 2.3s ease-in-out 0s;
}
@keyframes page-trans {
  0%{
    top:0;
    bottom: 0;
  }
  100%{
    top: -600svh;
  }
}
.page-trans5{
  animation:page-trans 2.3s ease-in-out 0s;
}
@keyframes page-trans {
  0%{
    top:0;
    bottom: 0;
  }
  100%{
    top: -700svh;
  }
}

#MenuBar{
  animation: menubar 2s linear;
}

  @keyframes menubar {
    0%{
      right: -100%;
    }
    100%{
    right: 0px;
    }
  }
}





