@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .custom-font{
        font-family: cursive;
    }
    .fulll-screen-heroo-section-column{
        grid-template-columns: 60% 40%;
    }
    .fulll-screen-heroo-section-left-side{
        height: calc(100svh - 80px);
    }
    .fulll-screen-heroo-section-heading::before{
      content: "";
      position: absolute;
      border-bottom: 5px solid green;
      width: 70px;
      top:4rem;
    }

    .Call-to-action-section-images{
        @apply rounded-full relative;
    }
     .Footer-grid{
        grid-template-columns: 1fr;
    }
   @media (min-width:1024px) {
       
        .Footer-grid{
             grid-template-columns: 30% 25% 15% 30%;
        }
    }
    .fa-brands{
        @apply text-3xl
    }
  }