<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A Full screen hero section</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main class="min-h-svh md:h-svh bg-slate-200 grid md:overflow-hidden md:fulll-screen-heroo-section-column text-center md:text-left ">
      <div class="left p-10">
        <header class="text-7xl font-bold tracking-wide h-[80px]">Plant<span>.</span></header>
        <div class="main_content flex justify-center flex-col fulll-screen-heroo-section-left-side pb-8">
          <p class="text-[2.8rem] font-bold mb-6 fulll-screen-heroo-section-heading relative">Find your <span class="text-green-600">greeny</span> stuff for your room</p>
          <p class="font-medium text-slate-600">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
            tempore, officia impedit omnis cum consequatur non officiis possimus
            eaque earum ipsam quasi, labore dolores temporibus.z
          </p>
          <button class="w-fit bg-green-600 py-2 px-4 text-xl text-white rounded-lg  mx-auto mt-6  md:mx-0 hover:bg-green-700">learn more</button>
        </div>
      </div>
      <div class="right">
        <img
          class="h-full w-full"
          src="./assets/aesthetic-leaf-background-0wk96i4i0qgpujxv.jpg"
          alt="leaves image background"
        />
      </div>
    </main>
  </body>
</html>
